{{ form_start(form) }}
<div class="flex">
    <div class="item">
        {{ form_row(form.title) }}
    </div>
    <div class="item">
        {{ form_row(form.slug) }}
    </div>
</div>
<div class="flex">
    <div class="item">
        {{ form_row(form.linkWeb) }}
    </div>
    <div class="item">
        {{ form_row(form.linkGithub) }}
    </div>
</div>
<div class="flex">
    {{ form_rest(form) }}
</div>
    <div class="flex_between">
        <a href="{{ path('admin.project.index') }}">Retour</a>
        <button>{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}

