{% extends 'admin/admin.html.twig' %}

{% block title %}Project index{% endblock %}

{% block bodyAdmin %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.slug }}</td>
                <td>
                    <div class="flex">
                        <a href="{{ path('admin.project.show', {'id': project.id}) }}">Voir</a>
                        <a href="{{ path('admin.project.edit', {'id': project.id}) }}">Editer</a>
                        <form method="post" action="{{ path('admin.project.delete', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                            <button class="btn">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun projet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('admin.project.new') }}">Créer un projet</a>
{% endblock %}
