<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio Menezes{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <header class="top">
                <div class="logo">
                    <a href="/"><img src="{{ asset('./images/logo.jpg') }}" alt="logo Menezes"></a>
                </div>
                <nav class="menu">
                    <ul>
                        <li><a class="menu_link" href="{{ path('home') }}#projects">Mes réalisations</a></li>
                        <li><a class="menu_link" href="#contact">Me contacter</a></li>
                    </ul>
                </nav>
        </header>
    </div>
    {% block body %}{% endblock %}
    <section id="contact">
        <div class="container">
            <h2>Me contacter</h2>
            <p class="subtitle">Vous pouvez me contacter via le formulaire, je me ferai un plaisir de vous répondre</p>
            <div class="content">
                <div class="details">
                    <div class="item">
                        <img src="{{ asset('./images/name.png') }}" alt="Icône identité">
                        <p>Cancelinha Menezes Mike</p>
                    </div>
                    <div class="item">
                        <img src="{{ asset('./images/address.png') }}" alt="Icône adresse">
                        <p>Province du Luxembourg, Belgique</p>
                    </div>
                    <div class="item">
                        <img src="{{ asset('./images/mail.png') }}" alt="Icône adresse e-mail">
                        <a href="mailto:hello@menezes.be">hello@menezes.be</a>
                    </div>
                    <div class="item">
                        <img src="{{ asset('./images/phone.png') }}" alt="Icône téléphone portable">
                        <p>+352 661 89 14 89<p>
                    </div>
                </div>
                <div class="contact_form">
                     {% for message in app.flashes('success') %}
                    <div class="alert_success">{{message}}</div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert_danger">{{message}}</div>
                    {% endfor %}
                    <form action="{{ path('contact') }}" name="contact" method="POST">
                    <div>
                    <div class="input">
                        <input id="name" name="contact[name]" type="text" minlength="5" maxlength="30" placeholder="Votre nom" required>
                    </div>
                    <div class="input">
                        <input id="email" name="contact[email]" type="email" placeholder="Votre adresse e-mail" required>
                    </div>
                    </div>
                    <div class="input">
                        <textarea id="message" name="contact[message]" type="texte" minlength="50" maxlength="200" title="50 à 200 caractères" placeholder="Votre message" required></textarea>
                    </div>
                    <input type="hidden" id="contact__token" name="contact[_token]" value="{{ csrf_token('contact') }}"/>
                    <button type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="content">
                <p>Développé par <a href="https://menezes.be">Menezes</a></p>
                <a href="https://github.com/curvata"><img src="{{ asset('./images/github.png') }}" alt="logo github"></a>
            </div>
        </div>
    </footer>
    </body>
</html>
