{% extends "base.html.twig" %}
{% block body %}
<main>
    <section class="intro">
        <div class="container">
            <div class="hello">
                <h1>Salut ! Moi c'est Mike<br>
                Je suis développeur web</h1>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <div class="content">
                    <div class="description">
                        <h2>Un mot sur moi</h2>
                        <p>
                        Autodidacte de 33 ans, je vie actuellement
                        en province du Luxembourg. J’utilise au quotidien
                        le html, css, sass, sql, php et javascript vanilla.
                        Je travail principalement avec Symfony et Wordpress.
                        J’utilise Photoshop et Illustrator pour mes
                        créations graphiques...<p>
                    </div>
                    <div class="presentation_picture">
                        <div>
                            <img src="{{ asset('./images/menezes.jpg') }}" alt="Une photo de présentation de moi">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section id="projects">
            <h2>Mes réalisations</h2>
            <p>Découvrez quelques une des mes créations</p>
            <div class="content">
                <div class="item">
                    <img src="{{ asset('./images/projets/Luxspace/miniature.png') }}">
                    <h3>Luxspace</h3>
                </div>
                <div class="item">
                    <img src="{{ asset('./images/projets/password.png') }}">
                    <h3>API Password Generator</h3>
                </div>
                <div class="item">
                    <img src="{{ asset('./images/projets/menezes.png') }}">
                    <h3>Menezes V1</h3>
                </div>
                <div class="item">
                    <img src="{{ asset('./images/projets/infographie.jpeg') }}">
                    <h3>Infographies</h3>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}