{% extends "base.html.twig" %}
{% block title %}Portfolio Menezes{% endblock %}
{% block description %}
    <meta name="description" content="Page d'accueil du portfolio de Menezes" />
{% endblock %}
{% block body %}
<main>
    <section class="intro">
        <div class="container container_intro">
            <div class="hello">
                <h1 class="hl t05"><span class="hl t08">Salut 👋 ! Moi c'est Mike</span>
                <span class="hl t10">Je suis développeur web</span></h1>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <div class="content">
                    <div class="description">
                        <h2 class="hl t05">Un mot sur moi</h2>
                        <p class="hl t08">
                        Autodidacte et passionné par le web, je vis en province du Luxembourg. J'utilise au quotidien le html, css, sql, php et javascript vanilla, mais également nginx, mysql, sass, git, wordpress, illustrator, photoshop,... Je travaille principalement avec Symfony pour mes développements.<p>
                    </div>
                    <div class="presentation_picture hr t05">
                        <div>
                            <img src="{{ asset('./images/menezes.jpg') }}" alt="Une photo de présentation de Mike">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section id="projects">
            <h2 class="title hb t05">Mes réalisations</h2>
            <p class="subtitle hb t10">Découvrez quelques une de mes créations</p>
            <div class="content">
            {% if projects|length == 0 %} 
                <h3>Aucun projet</h3>
            {% endif %}
            {% for project in projects %}
            <article class="hb t10">
                <a class="item" href="{{ path('project.show', {slug: project.slug})}}">
                    <img src="{{ asset('./images/projets/' ~ project.headerImage) }}" alt="{{ project.title }}">
                    <h3>{{ project.title }}</h3>
                </a>
            </article>
            {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}