{% extends "./base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gallery') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}
{% block body %}
<main>
    <section class="project">
        <div class="title">
            <div class="container">
                <h1>{{ project.title }}</h1>
            </div>
        </div>
        <div class="container">
            <div class="description">
                <p>{{ project.description }}</p>
                <div class="links">
                    <div class="link">
                        <img src="{{ asset('./images/icones/web.png') }}">
                        <a href="{{ project.linkWeb }}">{{ project.linkWeb }}</a>
                    </div>
                    <div class="link">
                        <img src="{{ asset('./images/icones/github_black.png') }}">
                        <a href="{{ project.linkGithub }}">{{ project.linkGithub }}</a>
                    </div>
                </div>
            </div>
            <div class="gallery">
                {% for picture in project.pictures %}
                    <a href="{{ asset('./images/projets/' ~ picture.fileName) }}" class="glightbox" data-gallery="gallery1">
                        <img src="{{ asset('./images/projets/' ~ picture.smallPicture) }}" alt="{{ project.title }}" />
                    </a>
                {% endfor %}
            </div>
	    </div>
    </section>
</main>
{% endblock %}