{% extends "./base.html.twig" %}
{% block title %}{{ project.title }}{% endblock %}
{% block description %}
    <meta name="description" content="Page de présentation du projet {{ project.title }}"/>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gallery') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}
{% block body %}
<main>
    <article class="project">
        <section class="headband">
            <div class="container">
                <h1>{{ project.title }}</h1>
            </div>
        </section>
        <div class="container">
            <section class="description">
                <p>{{ project.description }}</p>
                <div class="links">
                    {% if project.linkWeb != null %}
                        <div class="link">
                            <img src="{{ asset('./images/icones/web.png') }}" alt="Icône adresse web">
                            <a href="https://{{ project.linkWeb }}">{{ project.linkWeb }}</a>
                        </div>
                    {% endif %}
                    {% if project.linkGithub != null %}
                        <div class="link">
                            <img src="{{ asset('./images/icones/github_black.png') }}" alt="Icône github">
                            <a href="https://github.com/{{ project.linkGithub }}">{{ project.linkGithub }}</a>
                        </div>
                    {% endif %}
                </div>
            </section>
            <section class="gallery">
                {% for picture in project.pictures %}
                    <div class="item">
                        <a href="{{ asset('./images/projets/' ~ picture.fileName) }}" class="glightbox" data-gallery="gallery1">
                            <img src="{{ asset('./images/projets/' ~ picture.smallPicture) }}" alt="{{ project.title }}"  />
                        </a>
                    </div>
                {% endfor %}
            </section>
	    </div>
    </article>
</main>
{% endblock %}